<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Python Member API</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Pranav Flask Learnings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Porfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3">Flask Trails</h1>
        <p class="lead">The Flask Trails is a simple learning approach of author "Pranav" which is beginner-friendly and
            creating deployable code on to cloud </p>
        <hr class="my-4">
        <p>Few of the tech python and other dependencies are available at requirement.txt file</p>

        <hr class="my-4">
        <p class="lead" style="text-align: center;">The default username and password for testing this project are
            Username: admin and password: password </p>
        <p class="lead" style="text-align: center;">
            <a class="btn btn-primary btn-lg" href="#" role="button">Try Now</a>
        </p>

    </div>


</body>

</html>